{% extends 'base.html' %}

{% block content %}
<h2>Logout</h2>
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Login">
</form>

<a href="{% url 'polls:index' %}">Back to main page</a>
{% endblock %}